/* цвет основного текста ; #757575 */
/* вторичный цвет текста  #212121;
 */
/* белый #FFFFFF;  */
/* акцент #2196F3; */
/* вторичный цвет фона #F5F4FA; */
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("./../css/fonts/roboto/roboto-v20-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./../css/fonts/roboto/roboto-v20-latin_cyrillic-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("./../css/fonts/roboto/roboto-v20-latin_cyrillic-700.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./../css/fonts/roboto/roboto-v20-latin_cyrillic-700.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"),
    url("./../css/fonts/roboto/roboto-v20-latin_cyrillic-900.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./../css/fonts/roboto/roboto-v20-latin_cyrillic-900.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./../css/fonts/raleway/raleway-v17-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./../css/fonts/raleway/raleway-v17-latin_cyrillic-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("./../css/fonts/raleway/raleway-v17-latin_cyrillic-700.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./../css/fonts/raleway/raleway-v17-latin_cyrillic-700.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-900 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    url("./../css/fonts/raleway/raleway-v17-latin_cyrillic-900.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./../css/fonts/raleway/raleway-v17-latin_cyrillic-900.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --second-background-color: #f5f4fa;
  --first-background-color: rgba(47, 48, 58, 0.8);
  --footer-background-color: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.page-header {
  padding: 25px 0;
  border: 1px solid #ececec;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list .link.current {
  color: var(--accent-color);
}
.feature-list {
  display: flex;
  justify-content: flex-end;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.flexbox {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.menu-item .current:after {
  display: block;
  position: absolute;
  content: "";
  bottom: -32px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.menu-item {
  position: relative;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-decoration: none;
  margin-right: 85px;
}
.logo > span {
  color: var(--accent-color);
}
.footer-address > .logo {
  color: var(--primary-white-color);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  cursor: pointer;
  text-decoration: none;
}

.link:hover:not(.link-wrapper),
.link:active:not(.link-wrapper),
.link:focus:not(.link-wrapper) {
  color: var(--accent-color);
}
.contacts-link:not(:last-child) {
  margin-right: 30px;
}
.contacts-link .link {
  display: inline-flex;
  align-items: center;
  color: var(--primary-text-color);
}
.contacts-icon {
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
}

.link-work {
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  max-width: 1600px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin: 0 0 30px;
  padding-top: 200px;
}

.btn-primary {
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
}
.btn-secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border-width: 0;
  padding: 6px 22px;
  background-color: var(--second-background-color);
}
.btn-secondary:focus,
.btn-secondary:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background: var(--accent-color);
  color: var(--primary-white-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-padding {
  padding-top: 94px;
}
.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin: 0;
}
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin: 0 0 50px;
  text-align: center;
}

.title-bigger {
  font-size: 16px;
  line-height: 19px;
  padding: 30px 0 10px 0;
}
.title-upper {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.dev-title {
  position: absolute;
  bottom: 27px;
  left: 15%;
  z-index: 1;
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.team-section {
  background-color: var(--second-background-color);
  padding: 94px calc((100% - 1200px) / 2);
}
.text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  letter-spacing: 0.03em;
}
.text-bg {
  font-size: 16px;
  line-height: 19px;
}
.text-grey {
  color: var(--primary-text-color);
  line-height: 1.9;
}
.text-white {
  color: var(--primary-white-color);
}
.box-list:not(:last-child) {
  margin-right: 30px;
}
.list .box-list {
  position: relative;
  z-index: 2;
  height: 294px;
  margin-right: 30px;
}

.box-list-team {
  width: 270px;
  left: 215px;
  top: 1785px;
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.box-list-team:not(:last-child) {
  margin-right: 30px;
}
.box-list-feature:not(:last-child) {
  margin-right: 30px;
}
.list .box-list::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.social {
  margin: 16px 0 30px 0;
}
.social-icon {
  fill: currentColor;
}
.social-icons-list:not(:last-child) {
  margin-right: 10px;
}
.social-icons-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
  color: #afb1b8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--accent-color);
}
.social-icons-link:hover .social-icon,
.social-icons-link:focus .social-icon {
  fill: var(--primary-white-color);
}
.social-icons-footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons-footer:hover,
.social-icons-footer:focus {
  background-color: var(--accent-color);
}
.clients-list {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list:hover,
.clients-list:focus {
  color: var(--accent-color);
  border-color: 1px solid var(--accent-color);
}
.clients-list:not(:last-child) {
  margin-right: 30px;
}
.client-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  width: 170px;
  height: 90px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon:hover,
.client-icon:focus {
  fill: var(--accent-color);
}
.footer {
  display: flex;
  background-color: var(--footer-background-color);
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  /* width: 1600px; */
}
.footer > .container {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}
.footer-address > .logo {
  display: block;
}
.footer .link {
  color: var(--primary-text-color);
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  font-weight: normal;
}
.contact-us-item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.feature-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* .feature-icon {
  display: block;
  background-color: var(--second-background-color);
  padding: 25px 100px;
} */

.portfolio {
  padding: 94px calc((100% - 1200px) / 2);
}
.portfolio-menu li:not(:last-child) {
  margin-right: 8px;
}
.portfolio-menu {
  justify-content: center;
  margin-bottom: 30px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-list {
  width: calc((100% - 30px * 2) / 3);
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}
.flex-list:nth-child(3n) {
  margin-right: 0;
}
.flex-list:focus,
.flex-list:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.project-info {
  padding: 20px 24px;
}
.img-box {
  position: relative;
  overflow: hidden;
}
.box-hover {
  position: absolute;
  background-color: var(--accent-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-hover p {
  margin: 0;
}
.flex-list:hover .box-hover {
  transform: translateY(0);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  color: var(--title-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close-modal {
  position: absolute;
  top: 0;
  right: 0;
  /* padding: 6px 6px; */
  margin-top: 10px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.btn-close-modal > svg {
  padding: 0 1px 0 0;
}
.btn-close-modal:hover {
  fill: var(--accent-color);
}
.form {
  margin-right: auto;
  margin-left: auto;
  padding-left: 41px;
  padding-right: 39px;
  color: var(--title-text-color);
}
.form-call {
  display: block;
  margin-bottom: 12px;
  margin-top: 40px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.form-field,
.comment-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}
.form-input {
  height: 40px;
  margin: 0;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.comment:hover,
.form-field:focus-within > .form-input,
.comment-field:focus-within > .comment {
  border: 1px solid var(--accent-color);
  outline: none;
}
.form-input:hover + .form-icon,
.comment-field:focus-within > .form-icon {
  color: var(--accent-color);
}

.form-icon {
  position: absolute;
  top: 29px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-field {
  display: flex;
  align-items: center;
  padding-left: 13px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-input:checked + .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../img/icons/vector.svg");
  background-size: contain;
  background-origin: border-box;
}
.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-link {
  color: var(--accent-color);
}
.btn-form {
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 56px;
  padding-right: 55px;
  border-radius: 4px;
  transform: translateX(134px);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-form {
  display: flex;
}
.footer-email {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  color: var(--primary-white-color);
  background-color: var(--background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.email-btn {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email-btn .btn-text {
  margin-right: 10px;
}
.icon-send {
  fill: currentColor;
}
